{% extends 'base.html' %}
{% block body %}
<div class="top-wrapper">
    <h1>駅名読み問題</h1>
    {% for station in station %}
    <h2>「{{ station.name }}」</h2>
    <span>{{ station.pref }}にあるこの駅名は何と読む？<br>ひらがなで入力して下さい(カタカナはそのままで)</span>
    <br>（{{ station.linename }}にある駅です）
    <div>
    <form action="/check" method="post">
        <input type="hidden" name="colect" value={{station.yomi}}>
        <input type="text" name="answer"><br>
        <input type="submit" name="submit" value="結果確認">
    </form>
    </div>
    {% endfor %}
</div>
{% endblock %}